*
{
    margin: 0%;
    padding: 0%;
}

.header{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #0a0b27;;
    height: 70px;
    display: inline;
    display: flex;
   
}

.img-logo{
    padding: 25px 10px 25px 0px;

}
.details ul{

    display: flex;
    margin-right: 0;
    margin-top:16px ;
    list-style-type: none;
    padding: 10px 12px 10px 354px;
    
} 
.details a:hover{
    color: red;
    transition: 0.5s;
}
   
.details a{
    text-decoration: none;
    padding-right: 40px;
    color: #fff;
    position: relative;
   font-weight: 600;
}
.main-body{
    width: 100%;
    height: auto;
    
}
.img1{
    padding-left: 25%;
}


.picture{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    
    background-color: rgb(250, 167, 74);
    
}
.main-text{
    position: relative;
    right: 240px;
    text-align: center;
    z-index: 1;
    font-size: 22px;
    font-weight: 900;
}
.text{
    width: 50%;
    height: auto;
    padding: 120px;
    background-color: #fff;
}
.img-details
{
    width: 100%;
    margin-top: -4px;
    display: flex;

}
.content-head{
    position: relative;
    font-family:  meriva, sans-serif;
    color: #000;
    text-align: left;
    font-size: 18px;
    margin-bottom: 25px;
}
.next-line{
    position: relative;
    font-family:  meriva, sans-serif;
    color: #000;
    text-align: left;
    font-size: 18px;
    
    font-family: "merivaregular";
}
.next-line p{
    margin-bottom: 30px;
}
.footer{
    width: 93.1%;
    height: 220px;
    padding: 50px;
    background-color: #fff;
    margin-top: -4px;
    display: flex;
}

.footer1 p{
    width: 428px;
    padding-bottom: 30px;
    font: 14px;
    text-align: left;
    font-family: "merivaregular";
}
.footer2 p{
    padding-bottom: 15px;
    width: 428px;
    
    font: 14px;
    text-align: left;
    font-family: "merivaregular";

}
.footer a:hover{
    color: red;
    transition: 0.5s;
}
.link a{
    font-weight: bolder;
    text-decoration: none;
    font-family: "merivaregular";
    color: #000;
}
.step1{
    padding-left: 80px;
    display: flex;
    
}
.step1 a{
    color: #000;
    font-family: "merivaregular";
    text-decoration: none;
    font-weight: bolder;
}
.step2{
    padding-top: 20px;
    padding-left: 80px;
   
}
.step2 a{
    color: #000;
    font-family: "merivaregular";
    text-decoration: none;
    font-weight: bolder;
}
.step2-details{
    padding-top: 10px;
    padding-left: 80px;
}
.step2-details a{
    color: #000;
    font-family: "merivaregular";
    text-decoration: none;
    font-weight: bolder;
}
.button  img{
    padding-top: 10px;
   
}
.button p{
    padding-top: 15px;
}